.card-btn {
  align-self: center;
    text-align: center;
    width: 90%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color:#4AC37A;
    color: white;
    text-decoration: none;
    margin: 0.5rem 0.5rem;
    padding: 5px;
  }
  .card-btn:hover {
    opacity: 60%;
  }