.cards {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf9f6;
  }
  
  .col {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  

  .card-grid {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next row when needed */
    gap: 20px; /* Adjust the gap between cards as needed */
  }