.search-sym {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

.search-sym::before {
  content: "\1F50D";
  font-size: 20px;
  color: #000;
}

/* .main-home {
  height: fit-content;
} */
