/* Hide the up and down spinner controls */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.h2{
    color: rgb(29, 106, 80);
    margin:0 auto;
    width: max-content;
    padding: 10px;
}
.main-form{
  margin: 0 auto;
  background-color: blue;
  height: fit-content;
  width: max-content;
  padding: 20px;
  background-color:rgb(255, 253, 253);
}
.full-page{
  background-color:rgb(226, 219, 219);
}
.p-name{
  padding: 10px;
  font-size: 1.2rem;
}
.name-ex{
  padding: 5px;
  display: inline;
  
}
.des{
  display: inline;
}
.des-in{
  font-size: 1.2rem;

  
}
.main-d {
  height: 25px;
  padding: 5px;
}
.f-des{
  padding: 5px;
}