.l-form-login {

    padding: 20px;
    border-radius: 25px;
    width: 40%;
    height: auto;
    margin: 0 auto;
    background-color: rgba(
      74,
      161,
      36,
      0.6
    ); /* Specify the background color with alpha (opacity) */
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    padding: 20px;
  }
  
  .txt-in {
    background-color: #fff;
    padding: 8px;
    border-radius: 15px;
  }
  
  .lbl {
    font-size: 1.2rem;
  }
  
  .e-email {
    padding: 35px;
  }
  .pass {
    padding: 35px;
  }
  .loginbtn {
    padding: 25px;
  }
  
  .main-div {
    background-image: url(../assets/realbglog.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-login {
    background-color: #06c755;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 40%;
    color: #fff;
  }
  
  .btn-login:hover {
    background-color: #06c755;
    opacity: 80%;
  }
  
  .forgot-pass {
    color: blue;
    text-decoration: none;
    text-align: right;
  }
  
  .reset-head {
    color: #fff;
    font-size: 1.7rem;
    padding: 5px;
  }
  
  .instruct {
    color: #fff;
    font-size: 0.85rem;
    padding: 10px;
  }
  
  @media screen and (max-width: 800px) {
    .l-form {
      width: 80%;
    }
  }
  .wel{
    color: #fff;
    font-size: 10px;
}




