
.l-form {
    padding: 20px;
    border-radius: 25px;
    width: 40%; 
    height: auto;
    margin: 0 auto;
    background-color: rgba(74, 161, 36, 0.6); /* Specify the background color with alpha (opacity) */
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    padding: 20px;
}
.e-email{
    padding: 10px;
}


.pass{
    padding: 10px;
}
.c-pass{
    padding: 10px;
}
.loginbtn{
    padding: 10px;
    
}

@media screen and (max-width: 800px) {
    .l-form {
        width: 80%;
        height: 40%;
    }
}


.main-div {
    background-image: url(../assets/realbglog.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-in {
    background-color: #fff;
    padding: 8px;
    border-radius: 15px;
}
.sign:hover{
   
    background-color: #06c755;
  opacity: 80%;
}
.sign-btn{
    border-radius: 15px;
}
.wel{
    color: #fff;
    font-size: 30px;
}

